<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans  
           http://www.springframework.org/schema/beans/spring-beans-2.5.xsd  
           http://www.springframework.org/schema/context  
           http://www.springframework.org/schema/context/spring-context-2.5.xsd">
	
	<context:component-scan base-package="org.buzheng.study.quartz" />

	<bean name="quartzScheduler"
		class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
		<property name="triggers">
			<list>
				<ref bean="trigger1" />
				<ref bean="trigger2" />
			</list>
		</property>
	</bean>



	<bean id="trigger1" class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail">
			<bean class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
				<property name="targetObject" ref="simpleService" />
				<property name="targetMethod" value="testMethod1" />
			</bean>
		</property>
		<property name="cronExpression" value="0/5 * * * * ?" />
	</bean>

	<bean id="trigger2" class="org.springframework.scheduling.quartz.SimpleTriggerBean">
		<property name="jobDetail">
			<bean class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
				<property name="targetObject" ref="simpleService" />
				<property name="targetMethod" value="testMethod2" />
			</bean>
		</property>
		<property name="startDelay" value="1" />
		<property name="repeatCount" value="100" />
		<property name="repeatInterval" value="1000" />
	</bean>

</beans>